.containerPrincipal {
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  color: azure;
  font-size: 18px;
  padding: 20px;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cargando {
  font-size: 50px;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_SearchBar {
  width: 100%;
}

/*estilos paginado*/

a {
  text-decoration: none !important;
  color: gray;
  user-select: none;
}

a:hover {
  color: white;
  transition: 0.5s ease-out;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 18px;
}

.page_num {
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}
.active {
  color: white;
}

.previous {
  font-size: 30px;
  display: none;
}

.previous.open {
  display: block;
}

.next {
  font-size: 30px;
}

.next.close {
  display: none;
}

.container_loading {
  height: 340px;
  align-items: center;
  margin-bottom: 175px;
}

.container_loading p {
  font-size: 40px;
  margin: 0;
  padding: 0;
  flex-direction: column !important;
  color: white;
}

.notResult {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
}

.notResult p {
  font-size: 30px;
  font-weight: bold;
}

.notResult p:nth-child(2) {
  text-decoration: underline;
}

.notResult p:nth-child(2):hover {
  cursor: pointer;
}
