.container {
  width: 31%;
  /* border: 1px solid red; */
  /* margin: 10px; */
  color: azure;
}

.name_Product {
  font-size: 15px;
}

.price_Product {
  font-size: 15px;
}

.fav {
  background-color: azure;
  /* margin: 10px; */
  padding: 11px;
  margin: 10px;
  border-radius: 40px;
}

.cart {
  background-color: azure;
  margin: 10px;
  /* padding: 11px; */
  /* width: 60px; */
  height: 60px;
  border-radius: 100px;
}

.divButtons {
  /* align-items: center;
    text-align: center; */
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 100px) and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    width: 45%;
  }
}
