@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
/*font-family: 'Questrial', sans-serif;*/

.container {
  width: 31%;
  /* border: 1px solid red; */
  /* margin: 10px; */
  color: azure;
}

.name_Product {
  font-size: 15px;
  text-align: center;
}

.price_Product {
  font-size: 15px;
}

/*
.divButtons {
  /* align-items: center;
    text-align: center; 
  display: flex;
  justify-content: space-evenly;
  border: 1px solid red;
  /* position: absolute; 
}
*/
.container_productInfo {
  position: relative;
}

.discountP {
  top: 3%;
  padding: 0 10px;
  font-size: 15px;
  margin: 0;
  background-color: #100f10;
  color: white;
  position: absolute;
}

.container_productInfo .button1 {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: black;
  /*sacar position, top y right si queremos que no este por encima de la img*/
  position: absolute;
  top: 70%;
  left: 25%;
  transform: translateY(200%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.4s, opacity 0.4s, visibility 0.4s ease-out;
}

.container_productInfo .button1.open {
  transform: translateY(-10%);
  opacity: 1;
  visibility: unset;
}

.container_productInfo .button1 img {
  width: 30px !important;
}

.container_productInfo .button2 {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: black;
  /*sacar position, top y right si queremos que no este por encima de la img*/
  position: absolute;
  top: 70%;
  right: 25%;
  transform: translateY(200%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.6s, opacity 0.4s, visibility 0.4s ease-out;
}

.container_productInfo .button2.open {
  transform: translateY(-10%);
  opacity: 1;
  visibility: unset;
}

.container_productInfo .button2 img {
  width: 30px !important;
}

.info {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info h1 {
  font-family: "Questrial", sans-serif;
  color: white !important;
  font-size: 35px;
}

.info .container_price {
  width: 100%;
  display: flex;
  /* border: 1px solid red; */
}

.container_price {
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  margin: 0;
}

.info .container_price p {
  font-size: 17px;
  margin-bottom: 0px;
  font-family: "Questrial", sans-serif;
  text-decoration: line-through 2px;
  color: white !important;
  line-height: 28px;
  margin-right: 10px;
  font-family: "Questrial", sans-serif;
}

.info .container_price h2 {
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Questrial", sans-serif;
  margin: 0;
}

.info .price_Product {
  font-size: 10px;
}

.container_link {
  width: 20%;
}

@media screen and (min-width: 100px) and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    width: 45%;
  }
}
