.container {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: azure;
}

.container_Info {
  margin-top: 100px;
  background-color: rgb(0, 0, 0);
  font-family: "Readex Pro", sans-serif;
  text-align: center;
}
