.containerPrincipal {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  color: azure;
}

.divUser {
  border: 1px solid red;
  margin-top: 30px;
}

.divNameSurname {
  display: flex;
  justify-content: center;
}
