@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

.container_Cards {
  box-sizing: border-box;
}

.container {
  width: 20%;
}

.container select {
  background-color: #121212;
  color: azure;
  margin-bottom: 18px;
  border: 1px solid #383d42;
  font-family: "Questrial", sans-serif;
}

.container_Filters .label_info {
  width: 100%;
  text-align: center;
  font-family: "Questrial", sans-serif;
  font-size: 17px;
}

.containerBtn {
  display: flex;
}

.btn {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  margin-left: 70px;
  border-radius: 60px;
  width: 43px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.btn image {
  width: 10px;
}

.containerFilters_992px {
  background-color: black !important;

  width: 40px;
  cursor: pointer;
  display: none;
}

.container_ModifyProducts {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  padding-top: 0;
  padding-right: 25px;
  background-color: black !important;
}

.containerFilters_ModifyProducts {
  cursor: pointer;
  display: flex;
}

.container_FiltersTrue {
  background-color: black !important;
  color: azure;
  width: 100%;
  padding: 10px 20px;
}

.pInFilters {
  line-height: 30px;
  font-size: 20px;
  user-select: none;
}

.dropdown-toggle {
  display: none !important;
}

/* .container_icon{
    position: absolute;
    right: 0;
} */

@media screen and (min-width: 100px) and (max-width: 576px) {
  .container {
    padding-right: 50px !important;
    background-color: black !important;
  }
}

@media screen and (min-width: 100px) and (max-width: 992px) {
  .container_Filters {
    display: none;
    background-color: black !important;
  }

  .containerFilters_992px {
    display: flex;
    background-color: black !important;
  }

  .container {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-top: 0;
    padding-right: 25px;
    background-color: black !important;
  }
}
