.rec.rec-arrow:disabled {
    visibility: hidden;
}
.rec.rec-arrow{
    background-color: black !important;
}

button.rec.rec-arrow:hover {
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 1px 3px #23232C;
}

button.rec-dot {
    /* background-color: rgb(235, 16, 16); */
    background-color: black;
    box-shadow: 0 0 1px 3px #23232C;
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
    box-shadow: 0 0 1px 3px white;
}
