@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
/*font-family: 'Questrial', sans-serif;*/

.container {
  background-color: #121212;
}

.container_loading {
  display: flex;
  align-items: center;
  height: 550px;
  align-items: center;
  margin-bottom: 175px;
}

.container_loading p {
  font-size: 40px;
  margin: 0;
  padding: 0;
  flex-direction: column !important;
  color: white;
}

.notResult {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
}

.notResult p {
  font-size: 30px;
  font-weight: bold;
}

.notResult p:nth-child(2) {
  text-decoration: underline;
}

.notResult p:nth-child(2):hover {
  cursor: pointer;
}

.msg_discount {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  position: relative;
  transition: 0.5s;
}

.msg_discount.close {
  display: none;
}

.msg_discount button {
  background-color: transparent;
  top: 15%;
  right: 1%;
  position: absolute;
}

.msg_discount p {
  margin: 0;
  padding: 0;
}

.container_Inicio {
  margin-left: 15px;
}

.container_Inicio span {
  font-size: 20px;
  font-family: "Questrial", sans-serif;
}

.container_Inicio span:nth-child(2),
.container_Inicio span:nth-child(3) {
  color: white;
}

.container_Inicio div .span5 {
  font-weight: bold;
}

.container_Title h3 {
  font-weight: bold;
  color: white;
}

.container_infoProducts {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
  margin-bottom: 100px;
}

.container_cart {
  width: 28%;
  margin: 0 0 15px 15px;
  border: 1px solid #383d42;
}

.container_cart div:last-child {
  text-align: center;
}

.container_cart div:last-child button {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  background-color: #23232c;
  font-family: "Questrial", sans-serif;
  font-weight: bold;
  color: white;
}

.container_cart div:last-child button:hover {
  background-color: transparent;
  transition: background-color 0.5s;
}

.container_InfoDiscount {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container_InfoDiscount p:nth-child(1),
.container_InfoDiscount p:nth-child(2) {
  /* width: 50%; */
  padding: 0 15px;
  color: white;
  background-color: #222222;
}

.container_InfoDiscount p:nth-child(1) {
  background-color: #23232c;
  text-decoration: line-through 1.5px;
}

.container_InfoDiscount p:nth-child(3) {
  width: 100%;
}
