@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
/*font-family: 'Questrial', sans-serif;*/

span {
  font-family: "Questrial", sans-serif;
}

.container_Title {
  margin-top: 18px;
}

.container_Title span {
  color: white !important;
  font-family: "Questrial", sans-serif;
}

.container_Title span:first-child {
  line-height: 25px;
  font-weight: bold;
  font-family: "Questrial", sans-serif;
}
