* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap");
/*font-family: 'Readex Pro', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

/*font-family: 'Questrial', sans-serif;*/
html {
  background-color: black;
}

.container_Info {
  /* margin-top: 74px; */
  margin-top: 0px;
}

.container {
  background-color: black;
}

.container_button {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.container_button button {
  width: 100%;
  height: 80px;
  background-color: #23232c;
  line-height: 80px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Readex Pro", sans-serif;
}

.container_button button:hover {
  cursor: pointer;
  background-color: black;
  transition: 0.5s;
}

.container_infoContact h2,
p {
  font-family: "Questrial", sans-serif;
  color: white;
}

.container_infoContact h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

.container_infoContact p {
  letter-spacing: 1px;
  line-height: 35px;
}

.container_infoContact2 {
  padding: 12px;
}

.localInfop {
  line-height: 30px !important;
  /* border: 1px solid red; */
}

.container_image {
  width: 557px;
  min-width: 508;
  height: auto;
}

.container_image img {
  width: 100%;
  height: auto;
}

.container_infoAndForm {
  /* width: 100%;
    min-width: 600px;
    height: auto; */
  width: 783px;
  height: auto;
}

.container_TextArea {
  margin-bottom: 42px;
}

.alertMsj {
  font-family: "Questrial", sans-serif;
}

.container_Alert {
  width: 45%;
  position: fixed;
  top: 85%;
  left: 0;
  transform: translateX(-200%);
  transition: transform 0.4s, opacity 0.5s ease-out;
}

.container_Alert.open {
  transform: translateX(-0);
}

.container_AlertSuccess {
  width: 45%;
  position: fixed;
  top: 85%;
  left: 0;
  transform: translateX(-200%);
  transition: transform 0.4s, opacity 0.5s ease-out;
  /* display: none !important; */
}

.container_AlertSuccess.open {
  transform: translateX(-0);
}

.container_Inicio {
  width: 100%;
  height: 50px;
  font-size: 20px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  /* border: 1px solid red; */
  position: fixed;
  top: 12%;
  font-family: "Questrial", sans-serif;
}

.container_Inicio span:nth-child(3) {
  color: white;
  font-weight: 600;
}

.container_Inicio span:nth-child(2) {
  color: white;
  font-weight: 600;
}

.container_Inicio span:nth-child(1) {
  color: rgb(128, 128, 128);
}

.container_Inicio span:nth-child(1):hover {
  color: white;
}
div {
  position: relative;
}

.inputs {
  color: #fff !important;
  background-color: #121212 !important;
  border: 1px solid #686868 !important;
  font-family: "Questrial", sans-serif !important;
}
/* form .inputs:valid ~ label,
form .inputs:focus ~ label,
form .inputs:hover ~ label{
    top: -31px;
    left: 20px;
    font-size: 16px;
}



form label{
    position: absolute;
    top: 0px;
    left: 20px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    
} */

.btn,
.btn *,
.btn :after,
.btn :before,
.btn:after,
.btn:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;

  padding: 0;
}
.btn:disabled {
  cursor: default;
}
.btn:-moz-focusring {
  outline: auto;
}
.btn svg {
  display: block;
}
.btn [hidden] {
  display: none;
}
.btn {
  box-shadow: inset 0 0 0 2px #fff;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  padding: 1.2rem 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: color 0.1s linear;
}
.btn:after,
.btn:before {
  content: "";
  position: absolute;
}
.btn:before {
  border-bottom: var(--border);
  border-top: var(--border);
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.btn:hover:before {
  --border: 4px solid #000;
  -webkit-animation: border-top-and-bottom 1s forwards;
  animation: border-top-and-bottom 1s forwards;
}
.btn:after {
  border-left: var(--border);
  border-right: var(--border);
  bottom: 50%;
  right: 0;
  transform: translateY(50%);
  width: 100%;
  z-index: -1;
}
.btn:hover:after {
  --border: 4px solid #000;
  -webkit-animation: border-right-and-left 1s forwards;
  animation: border-right-and-left 1s forwards;
}
@-webkit-keyframes border-top-and-bottom {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes border-top-and-bottom {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes border-right-and-left {
  0% {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@keyframes border-right-and-left {
  0% {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.button_send {
  background-color: #23232c;
  color: white;
}

.button_send:hover {
  border: 1px solid #686868 !important;
  box-sizing: border-box;
}

@media screen and (min-width: 100px) and (max-width: 992px) {
  .container_image {
    display: none;
  }

  .container_Info {
    margin-top: 0px;
  }

  .container_infoAndForm {
    width: 100%;
  }

  .container_button {
    margin-bottom: 10px;
  }

  .container_Alert {
    width: 450px;
    top: 80%;
  }

  .container_AlertSuccess {
    width: 450px;
  }

  .container_Inicio {
    margin-top: 74px;
    position: relative;
  }
}

@media screen and (min-width: 1343px) {
  .container_infoAndForm {
    width: 100%;
  }
}
