.container_Info {
    margin-top: 40px;
    color: white;
    font-family: 'Readex Pro', sans-serif;
}
.container {
    background-color: black;
}
.container_button button {
   
    background-color: #23232C;
   
}
.container_button button:hover {
    cursor: pointer;
    background-color: black;
    transition: 0.5s;
}